@model Orgnzr.Models.Services

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Services</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="serviceID" />
            <div class="form-group">
                <label asp-for="serviceName" class="control-label">Service Name</label>
                <input asp-for="serviceName" class="form-control" />
                <span asp-validation-for="serviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serviceDescription" class="control-label">Service Description</label>
                <input asp-for="serviceDescription" class="form-control" />
                <span asp-validation-for="serviceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serviceCategory" class="control-label">Service Category</label>
                <input asp-for="serviceCategory" class="form-control" />
                <span asp-validation-for="serviceCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
