@model Orgnzr.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="appointmentID" />
            <div class="form-group">
                <label asp-for="appointmentStartTime" class="control-label"></label>
                <input asp-for="appointmentStartTime" class="form-control" />
                <span asp-validation-for="appointmentStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointmentFinishTime" class="control-label"></label>
                <input asp-for="appointmentFinishTime" class="form-control" />
                <span asp-validation-for="appointmentFinishTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label"></label>
                <select asp-for="clientId" class="form-control" asp-items="ViewBag.clientId"></select>
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serviceId" class="control-label"></label>
                <select asp-for="serviceId" class="form-control" asp-items="ViewBag.serviceId"></select>
                <span asp-validation-for="serviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="waitlistAppt" class="control-label"> </label>
                @Html.DropDownListFor(m => m.waitlistAppt,
            new SelectList(Enum.GetValues(typeof(waitlistAppt))),
            "Waitlist appointment for selected date?")
                <span asp-validation-for="waitlistAppt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
